table
    tr(align="center")
        td(width="650")
            a(href="https://easydocs.ru/kadroviy_edo/" style={"text-decoration": "none", "background-color" : "#8879d5", "border-radius" : "50px", "padding": "20px 60px"})
                font(color="white" style={"font-size": "14px"}) Записаться