table
    tr
        td(width="70")
        td
            font(color="#545456" style={"font-size": "20px", "font-weight": "bold"}) С уважением,
            br
            font(color="#545456" style={"font-size": "20px", "font-weight": "bold"}) Команда
            font(color="#8879d5" style={"font-size": "20px", "font-weight": "bold"})  Easydocs
            br
            br

            a(href="tel:+7 499 938 84 63", style={"text-decoration": "none"})
                font(color="#545456" style={"font-size": "16px", "font-weight": "bold"}) +7 499 938 84 63
            br
            a(href="mailto:info@easydocs.ru")
                font(color="#545456" style={"font-size": "16px", "font-weight": "bold"}) info@easydocs.ru