tr
    td(height="30")
tr
    td(align="center")
        font(color="#8879d5" style={"font-size": "24px", "font-weight": "bold"}) 45 000 рублей в год вместо 60 000
        br
        font(color="#8879d5" style={"font-size": "24px", "font-weight": "bold"}) при подключении к КЭДО до 30 апреля.
tr
    td(height="50")
tr
    td
        include text
tr
    td(height="70")
tr
    td
        include button
tr
    td(height="60")
tr
    td
        include image
tr
    td(height="80")
tr
    td
        include footer