table(width='100%')
    tr
        td(width='100%' height='155x' style='background-repeat:no-repeat;background-position:top center;background-size:contain;background-image: url("https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2FVector%2014.png?alt=media&token=8b7b6d5f-1c5d-40ab-ac88-09bc7788c91a") ')
            table(style="vertical-align:top" height="100%")
                tr(height="15%")
                tr
                    td(width="5%")
                    td(width="25%" height="70%" style="vertical-align: top")
                        img(width="100%" src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2F%D0%9B%D0%BE%D0%B3%D0%BE.png?alt=media&token=945e0afe-52ca-494a-b9a3-42b4c9b48636")
                    td(width="45%")
                    td(width="20%" style="vertical-align: top")
                        //img(width="100%" src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2Fimage%208.png?alt=media&token=aa4755c9-5737-496a-9227-8cc7127dab8c")
                    td(width="5%")
                tr
                    td(height="15%")