table
    tbody
        tr
            td(width="70")
            td(width="510")
                font(color="#545456" style={"font-size": "16px"}) Добрый день,
                br
                br
                font(color="#8879d5" style={"font-size": "16px", "font-weight": "bold"}) EasyDocs!{' '}
                font(color="#545456" style={"font-size": "16px"}) объявляет специальные условия на подключение к системе кадрового электронного документооборота этой весной.
                br
                br
                font(color="#8879d5" style={"font-size": "16px", "font-weight": "bold"}) EasyDocs!{' '}
                font(color="#545456" style={"font-size": "16px"}) – это цифровизация кадрового документооборота для тех, кто не может ждать. В среднем, внедрение занимает несколько рабочих дней.
                br
                br
                font(color="#545456" style={"font-size": "16px"}) Успейте записаться на демо!

            td(width="70")