table
    tr
        td(width="30")
        td
            table
                tr
                    td(align="left" width="160")
                        img(src="https://korablik.studio/images/letters/easydoc/bg-foot.png" width="160px")
                    td(align="right" width="430")
                        table
                            tr
                                td(align="left")
                                    font(color="#764BFE" style={"font-size": "20px", "font-weight": "bold"}) Генеральный директор
                                    br
                                    font(color="#545456" style={"font-size": "20px", "font-weight": "bold"}) Денис Куликов

        td(width="30")