table(width="650" bgcolor="white")
    tr
        td(height="50")
    tr
        td
            table
                tr
                    td(width="215")
                    td(width="230")
                        img(src="https://korablik.studio/images/letters/easydoc/logo.svg" width="230")
                    td(width="205")
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#545456" style={"font-size": "15px"}) SaaS-решение для кадрового электронного документооборота
    tr
        td(height="25")
    tr
            td(align="center")
                font(color="#412f98" style={"font-size": "24px", "font-weight": "bold"}) Электронный кадровый документооборот
                br
                font(color="#412f98" style={"font-size": "24px", "font-weight": "bold"}) ТОП-5 ошибок внедрения
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#545456" style={"font-size": "18px"}) Вебинар | Бесплатно
    tr
        td(height="10")
    tr
        td(align="center")
            font(color="#764BFE" style={"font-size": "24px", "font-weight": "bold"}) 29 октября 2020 года
    tr
        td(height="35")
    tr
        td
            table
                tr
                    td(width="180")
                    td(width="290" height="60" bgcolor="#764BFE" align="center" style={"border-radius": "8px"})
                        a(href="https://easydocs.ru" style={"text-decoration": "none", "padding": "20px 30px"})
                            font(color="white" style={"font-size": "20px"}) Зарегистрироваться
                    td(width="180")
    tr
        td
            include table.pug
    tr
        td(height="35")
    tr
        td(align="center")
            font(color="#764BFE" style={"font-size": "20px", "font-weight": "bold"}) До встречи на вебинаре!
    tr
        td
            include footer.pug