table(width="650" bgcolor="white")
    tr
        td(height="50")
    tr
        td
            table
                tr
                    td(width="235")
                    td(width="230")
                        img(src="https://korablik.studio/images/letters/easydoc/logo.png" width="230")
                    td(width="185")
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#545456" style={"font-size": "15px"}) SaaS-решение для кадрового электронного документооборота
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#412f98" style={"font-size": "24px", "font-weight": "bold"}) Завтра, 29 октября в 15.00 обсуждаем
            br
            font(color="#412f98" style={"font-size": "24px", "font-weight": "bold"}) электронный кадровый документооборот
    tr
        td(height="45")
    tr
        td
            table
                tr
                    td(width="80")
                    td
                        table
                            tr
                                td
                                    font(color="#545456" style={"font-size": "19px"}) Добрый день,
                                    br
                                    br
                                    font(color="#545456" style={"font-size": "19px"}) Пишем, чтобы просто напомнить, что вы зарегистрированы на вебинар «Топ-5 ошибок при внедрении кадрового электронного документооборота». С нетерпением ждем вас завтра, 29 октября, на платформе Zoom в 15.00. Ссылка придет за 2 часа до начала мероприятия.
                            tr
                                td
                                    img(src="https://korablik.studio/images/letters/easydoc/m_image.png" width="490")
                            tr
                                td
                                    font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) До встречи на вебинаре!
                                    br
                                    br
                                    font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) Команда
                                    font(color="#545456" style={"font-size": "20px", "font-weight": "bold"})  Easydocs
                            tr
                                td(height="50")
                    td(width="80")
