table(width="650" bgcolor="white")
    tr
        td(height="50")
    tr
        td
            table
                tr
                    td(width="235")
                    td(width="230")
                        img(src="https://korablik.studio/images/letters/easydoc/logo.png" width="230")
                    td(width="185")
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#545456" style={"font-size": "15px"}) SaaS-решение для кадрового электронного документооборота
    tr
        td(height="25")
    tr
        td(align="center")
            font(color="#412f98" style={"font-size": "24px", "font-weight": "bold"}) Начинаем через 20 минут
    tr
        td(height="45")
    tr
        td
            table
                tr
                    td(width="80")
                    td
                        table
                            tr
                                td
                                    font(color="#545456" style={"font-size": "19px"}) Добрый день,
                                    br
                                    br
                                    font(color="#545456" style={"font-size": "19px"}) Начинаем наш вебинар по
                                        =' '
                                        a(style={"color": "#412f98"} href="https://us02web.zoom.us/j/9652647174?pwd=UmtUNWJ6MWd3RHNJTW9vb2RpUEZyZz09") ссылке
                                        ="."
                                    br
                                    font(color="#545456" style={"font-size": "19px"}) Устраивайтесь поудобнее, проверьте интернет и&nbsp;добро пожаловать!
                            tr
                                td(height="15")
                            tr
                                td
                                    img(src="https://korablik.studio/images/letters/easydoc/t_image.png" width="490")
                            tr
                                td
                                    font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) Присоединяйтесь!
                                    br
                                    br
                                    font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) Команда
                                    font(color="#545456" style={"font-size": "20px", "font-weight": "bold"})  Easydocs
                            tr
                                td(height="50")
                    td(width="80")
