table
    tr(align="center")
        td(width="650")
            a(href="https://easydocs.ru" style={"text-decoration": "none", "background-color" : "#764BFE", "border-radius" : "50px", "padding": "20px 60px"})
                font(color="white" style={"font-size": "14px"}) Подключить