table
    tbody
        tr
            td(width="70")
            td(width="260")
                font(color="#545456" style={"font-size": "16px"}) Добрый день, коллеги,
                br
                br
                font(color="#545456" style={"font-size": "16px"}) Короткая, но стоящая внимания новость от EasyDocs: у нас появилась возможность!{' '}
                font(color="#545456" style={"font-size": "16px", "font-weight": "bold", "color": "#764BFE"}) бесплатно получить простую электронную подпись!{' '}
                font(color="#545456" style={"font-size": "16px"}) (ПЭП).
                br
                font(color="#545456" style={"font-size": "16px"}) Этим типом подписи можно подписывать довольно много документов:
            td(width="20")
            td(width="230")
                ul
                    li(style="color: #AA81F0; margin-bottom: 10px;")
                        span(style="color : #545456") Распоряжения
                    li(style="color: #AA81F0; margin-bottom: 10px;")
                        span(style="color : #545456") Приказы
                    li(style="color: #AA81F0; margin-bottom: 10px;")
                        span(style="color : #545456") Заявления
                    li(style="color: #AA81F0; margin-bottom: 10px;")
                        span(style="color : #545456") Протоколы
                    li(style="color: #AA81F0; margin-bottom: 10px;")
                        span(style="color : #545456") Служебные записки
            td(width="70")