table
    tr
        td(width="235")
        td(width="230")
            img(src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/logo.png?alt=media&token=941692a4-5125-4f44-8c90-9da5ba9bac93" width="230")
        td(width="185")
    tr
        td(height="25")
    tr
        td(align="center" colspan="3")
            font(color="#545456" style={"font-size": "15px"}) Новые возможности решения