table
    tr
        td(width="235")
        td(width="230")
            img(src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2Flogo.png?alt=media&token=873c3ca2-5d37-4799-813d-306106f29741" width="230")
        td(width="185")
    tr
        td(height="25")
    tr
        td(align="center" colspan="3")
            font(color="#545456" style={"font-size": "15px"}) Новые возможности решения