tr
    td(height="30")
tr
    td(align="center")
        font(color="#764BFE" style={"font-size": "24px", "font-weight": "bold"}) Бесплатная простая
        br
        font(color="#764BFE" style={"font-size": "24px", "font-weight": "bold"}) электронная подпись
tr
    td(height="50")
tr
    td
        include cols
tr
    td(height="70")
tr
    td
        include button
tr
    td(height="60")
tr
    td
        include image
tr
    td(height="80")
tr
    td
        include footer