table
    tr
        td(width="70")
        td
            font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) С уважением,
            br
            font(color="#412f98" style={"font-size": "20px", "font-weight": "bold"}) Команда
            font(color="#545456" style={"font-size": "20px", "font-weight": "bold"})  Easydocs