table
    tr(align="center")
        td(width="650")
            img(src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/image%201.png?alt=media&token=52a73083-2035-47f8-8dbe-94b77d1a6ea4")