table
    tr(align="center")
        td(width="650")
            img(src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2Fimage%201.png?alt=media&token=9348b98f-93fb-4ecb-a24d-7b633484818b", width="50%")