table(width="100%")
    tr
        td(width="7%")
        td(width="86%")
            table(width="100%")
                tr(align="center")
                    td
                        font(color="#545456" style={"font-size": "16px"}) Мероприятие
                tr(height="18px")
                tr(align="center")
                    td
                        font(color="#7C53FE" style={"font-size": "24px", "font-weight": "bold"}) Мы на Online demo day!
                tr(height="50px")
                tr
                    td
                        font(color="#545456" style={"font-size": "16px"}) Добрый день, коллеги,
                        br
                        br
                        font(color="#7C53FE" style={"font-size": "16px", "font-weight": "bold"}) 19 февраля!{' '}
                        font(color="#545456" style={"font-size": "16px"})  пройдет!{' '}
                        font(color="#7C53FE" style={"font-size": "16px", "font-weight": "bold"}) Online demo day!{' '}
                        font(color="#545456" style={"font-size": "16px"})  — мероприятие,
                        br
                        font(color="#545456" style={"font-size": "16px"})  посвященное цифровизации в HR.
                        br
                        br
                        font(color="#545456" style={"font-size": "16px"})  Конечно, мы не можем такое пропустить. Покажем, как
                        br
                        font(color="#7C53FE" style={"font-size": "16px", "font-weight": "bold"}) EasyDocs!{' '}
                        font(color="#545456" style={"font-size": "16px"})  решает задачи кадрового электронного
                        br
                        font(color="#545456" style={"font-size": "16px"})  документооборота, а также наглядно продемонстрируем, что
                        br
                        font(color="#545456" style={"font-size": "16px"})  КЭДО — это просто.
                tr(height="50px")
                tr(align="center")
                    td(width="650")
                        a(href="https://easydocs.ru" style={
                            "text-decoration": "none",
                            "background-color": "#764BFE",
                            "border-radius": "50px",
                            "padding": "20px 60px"
                        })
                            font(color="white" style={"font-size": "14px"}) Регистрация
        td(width="7%")
