table(width="100%")
    tr
        td(width="7%")
        td(width="93%")
            table(width="100%")
                tr(style="vertical-align: top")
                    td(width="43%")
                        font(color="#7C53FE" style={"font-size": "20px", "font-weight": "bold"}) С уважением,
                        br
                        font(color="#7C53FE" style={"font-size": "20px", "font-weight": "bold"}) Команда
                        font(color="#545456" style={"font-size": "20px", "font-weight": "bold"})  Easydocs
                    td(width="57%")
                        img(width="100%" src="https://firebasestorage.googleapis.com/v0/b/korablikstorage.appspot.com/o/EasyDoc%2FGroup%20102.png?alt=media&token=34af35dd-d8aa-4af0-bee7-0c2fef7c130f")