head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
body
    style(type="text/css").
        body, table, td, tr, p, a {
            -webkit-text-size-adjust:none !important;-ms-text-size-adjust:100%;border-collapse: collapse;border-spacing: 0;border: 0;padding: 0;margin: 0;font-family:  'Montserrat', sans-serif;}
    table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#d0d0d0")
        tr
            td(align="center")
                table(bgcolor="white" style="width: 100%;max-width:650px")
                    tr
                        td
                            include header
                    tr(height="70")
                    tr
                        td
                            include body
                    tr(height="70")
                    tr
                        td
                            include footer